/* ------- HEADER ------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  position: relative;
}

.circle {
  position: absolute;
  top: 65%;
  right: -2%;
  height: 85rem;
  width: 85rem;
  transform: translateY(-100%);
  background-color: #ff9f0d;
  z-index: -1;
  border-radius: 100%;
}

.scnd-circle {
  position: absolute;
  top: 110%;
  right: -20%;
  height: 85rem;
  width: 85rem;
  transform: translateY(-100%);
  background-color: #ff9f0d;
  z-index: -1;
  border-radius: 100%;
}

.trd-circle {
  position: absolute;
  top: 150%;
  left: -30%;
  height: 85rem;
  width: 85rem;
  /* transform: translateY(100%); */
  background-color: #ff9f0d;
  z-index: -1;
  border-radius: 100%;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  color: #484848;
  position: relative;
}

.logo__leaf-icon {
  height: 1.6rem;
  width: 1.6rem;
  color: #82c91e;
  position: absolute;
  bottom: 65%;
  left: 68%;
  z-index: 2;
}

/* ------- NAVIGATION ------- */
.nav {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  list-style: none;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.nav__link {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1c1917;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.nav__link::after:focus {
  outline: 0;
}

.nav__link::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 1.1rem;
  height: 1.1rem;
  background-color: #f8fafc;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.2s;
}

.nav__link.nav__link_hover_color::after {
  background-color: #ff9f0d;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link_hover_color:hover::after {
  opacity: 1;
}

.cta {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.cart-icon {
  height: 3rem;
  width: 3rem;
  color: #1c1917;
}

.cta__icon-box {
  position: relative;
}

.cta__icon-box::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translateX(-50%);
  width: 1.1rem;
  height: 1.1rem;
  background-color: #f8fafc;
  border-radius: 100%;
  z-index: 99;
}

.cta__book-btn {
  background-color: #f8fafc;
  padding: 1.6rem 3rem;
  border-radius: 2.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

/* ------- HERO SECTION ------- */
.section-hero {
  gap: 3.2rem;
  padding: 4.8rem 2.4rem 9.6rem;
}

.section-hero__text-box {
  padding: 6.4rem 4.8rem 0 0;
}

.section-hero__heading {
  font-size: 5.6rem;
  margin-bottom: 3.2rem;
}

.section-hero__description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.section-hero__order-btn {
  background-color: #ff9f0d;
  font-size: 1.6rem;
  font-weight: 700;
  color: #f3f4f6;
  padding: 1.6rem 3.2rem;
  border-radius: 25px;
}

/* ------- INFO SECTION ------- */
.section-info {
  padding: 4.8rem 2.4rem 9.6rem;
  display: flex;
  gap: 4.8rem;
}

.section-info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 30%;
  background-color: #f1f3f5;
  padding: 2.4rem 4.8rem;
  border-radius: 0 35px 0 35px;
}

.section-info__card-icon {
  height: 3rem;
  width: 3rem;
  color: #f3f4f6;
  margin-bottom: 1.6rem;
  background-color: #ff9f0d;
  padding: 0.5rem;
  border-radius: 50%;
}

.section-info__card-work-program,
.section-info__card-address,
.section-info__card-phone-number {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.section-info__card-description {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6b7280;
}

/* ------- ABOUT SECTION ------- */
.section-about {
  padding: 4.8rem 2.4rem 9.6rem;
  gap: 4.8rem;
  place-items: center;
}

.section-about__text-box {
  padding-left: 6.4rem;
}

.section-about__subheading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff9f0d;
  margin-bottom: 1.2rem;
}

.section-about__heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.section-about__description {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
}

.section-about__description-part-1 {
  margin-bottom: 2.4rem;
}

.section-about__description-part-2 {
  margin-bottom: 3.2rem;
}

.section-about__cta {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.cta__learn-more-btn {
  padding: 1.6rem 3.2rem;
  background-color: #ff9f0d;
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #f3f4f6;
}

.cta__watch-video {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.play-icon {
  height: 2.4rem;
  width: 2.4rem;
  padding: 1.6rem;
  background-color: #484848;
  color: #f3f4f6;
  border-radius: 50%;
  cursor: pointer;
}

.cta__text {
  font-size: 1.6rem;
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
